header {
    background: url(https://i.imgur.com/8TbuWlb.png), linear-gradient(to left, #222, #292929);
    background-attachment: fixed;
    color: #fff;
}

.navbar-default, .navbar-default .navbar-header .navbar-brand, h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    font-family: Catamaran, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

.about h2, .project h2 {
    text-transform: uppercase;
}

section h2 {
    font-size: 3em;
}

.about p {
    font-size: 1.5em;
}

.header-content {
    padding: 60px 0;
    min-height: 100vh;
}

.main-heading {
    font-size: 3em;
}

.about {
    background: -webkit-radial-gradient(center, circle closest-corner, #106d82 0%, #000 100%);
    background: -moz-radial-gradient(center, circle closest-corner, #106d82 0%, #000 100%);
    background: radial-gradient(center, circle closest-corner, #106d82 0%, #000 100%);
    color: #fff;
}

section {
    padding: 50px 0;
}

.contact {
    background: url('../img/secondary.jpg'), linear-gradient(to right, #e25906, #883215);
    color: #fff;
}

.project-column {
    margin-bottom: 20px;
}

footer {
    color: #fff;
    background: #0a2048;
}

.footer-above {
    background: #05355f;
    padding-top: 50px;
    text-align: center;
}

.footer-below {
    background: #0a2048;
    padding: 20px 0;
}

.social {
    margin: 0 0 50px 0;
    padding: 0;
}

.social>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.social .outline {
    color: #fff;
    background: 0 0;
    font-size: 20px;
    border: 2px solid #fff;
    transition: all .3s ease-in-out;
    margin-top: 15px;
}

.outline {
    width: 50px;
    height: 50px;
}

.social .circle {
    display: inline-block;
    border: 2px solid #fff;
    font-size: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 45px;
}

.social li {
    margin-bottom: 8px;
    display: inline;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px 5px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #868484;
}

.avater-container {
    max-width: 300px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

/* Social */
.social-container {
    margin-top: 50px;
    text-align: center;
}

.social-group {
    list-style: none;
    padding: 0;
}

.social-group li {
    display: inline;
}

.sq-social {
    /* width: 100%; */
    margin-bottom: 5px;
    background: #efefef;
    padding: 5px 15px;
    font-size: 14px;
    color: #333;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.btn-outline {
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
    margin-top: 15px;
}

.btn-social {
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
}

a.btn.sq-social:hover {
    background: #083e65;
    color: #fff;
}

.social >li > a:hover {
    background: #af7a03;
    border: 2px solid #af7a04;
}

#portfolio * {
    z-index: 2;
}

#about * {
    z-index: 2;
}

.star-light, .star-primary {
    border: none;
    border-top: solid 5px;
    margin: 25px auto 30px;
    text-align: center;
    max-width: 250px;
    padding: 0;
}

hr.star-light:after, hr.star-primary:after {
    content: "\f121";
    font-family: FontAwesome;
    position: relative;
    display: inline-block;
    font-size: 3em;
    top: -.8em;
    padding: 0 .25em;
}

#contact hr.star-light:after {
    background: rgb(124, 87, 68);
    color: #fff;
}

.star-primary {
    border-color: #2c3e50;
}

.star-light {
    border-color: #fff;
}

hr.star-primary:after {
    background: #fff;
    color: #2c3e50;
}

.about hr.star-light:after {
    background: #0e6275;
    color: #fff;
}

#project hr.star-primary:after {
    background: #ffffff;
}

.footer-above p {
    font-size: 1.3em;
}

.footer-above h2 {
    font-size: 2.3em;
    text-transform: uppercase;
}

.navbar-default.affix-top {
    background: transparent;
    border-color: transparent;
}

.navbar-default.affix-top .navbar-toggle {
    background: #fff;
}

.navbar-default.affix-top .navbar-nav>li>a {
    color: #333;
    border-bottom: 1px solid #ccc;
    background: #fff;
    text-align: center;
}

nav.navbar-default.affix-top a {
    color: #fff;
}




section#blog {
    background: #333;
    background: -webkit-radial-gradient(center, circle closest-corner, #24613e 0%, #2c6a45 100%);
    background-image: url(https://i.imgur.com/ZEpNUzm.png);
    color: #fff;
}

#blog hr.star-light:after {
    background: url(https://i.imgur.com/ZEpNUzm.png);
}

#post_preview a {
    color: #3ba4ff;
}

.post-preview {
    background: #444;
    background-image: url(https://i.imgur.com/JVACp2B.png);
    border-bottom: 3px solid #0e638c;
    border-radius: 3px;
    height: 220px;
    padding: 10px;
    margin-bottom: 10px;
}

.project-column {
    position: relative;
}

.project-column>.overlay {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    position: absolute;
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
    height: 100%;
    padding-top: 20%;
    color: #fff;
    font-size: 200%;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
    text-align: center;
}

.project-column:hover .overlay {
    display: block;
}

/* Media Query  */
@media (min-width: 768px) {
    .header-content {
        min-height: 100vh;
    }

    nav.navbar-default.affix-top {
        background: transparent;
        border: transparent;
        color: #fff;
    }

    nav.navbar-default.affix-top a:hover {
        color: #88b6ca !important;
    }

    nav.navbar-default.affix-top .navbar-collapse {
        border-color: transparent;
    }

    nav.navbar-default.affix-top a, .navbar-default.affix-top .navbar-nav>li>a {
        color: #fff;
        border-bottom: transparent;
        background: transparent;
        text-align: left;
        transition: color .3s ease-out;
    }

    section {
        padding: 100px 0;
        min-height: 100vh;
    }

    /* Social */
    .social-group > li {
        display: inline;
    }

    .sq-social {
        width: auto;
    }

    .social>li {
        display: inline;
        margin-bottom: 0;
    }

    .footer-above {
        text-align: left;
    }
}

#project {
    background: url(https://i.imgur.com/nWA7GUk.png);
}

#project hr.star-primary:after {
    background: url(https://i.imgur.com/nWA7GUk.png);
}

.navbar-fixed-top.affix a.page-scroll {
    color: #0b4f5e;
}
