/* =Columns */
.one-column,
.two-column,
.three-column,
.four-column,
.five-column,
.six-column,
.seven-column,
.eight-column,
.nine-column,
.ten-column,
.eleven-column,
.twelve-column {
    float: left;
    margin-left: 1%;
}

.row .one-column:first-of-type,
.row .two-column:first-of-type,
.row .three-column:first-of-type,
.row .four-column:first-of-type,
.row .five-column:first-of-type,
.row .six-column:first-of-type,
.row .seven-column:first-of-type,
.row .eight-column:first-of-type,
.row .nine-column:first-of-type,
.row .ten-column:first-of-type,
.row .eleven-column:first-of-type {
  margin-left: 0;
}

.one-column {
  width: 7.33%;
}

.two-column {
  width: 15.67%;
}

.three-column {
  width: 24%;
}

.four-column {
  width: 32.33%;
}

.five-column {
  width: 40.67%;
}

.six-column {
  width: 49%;
}

.seven-column {
  width: 57.33%;
}

.eight-column {
  width: 65.67%;
}

.nine-column {
  width: 74%;
}

.ten-column {
  width: 82.33%;
}

.eleven-column {
  width: 90.67%;
}

.twelve-column {
  width: 99%;
}
